# Logs
*.log
log/
logs/

# IDEs and Editors
# Eclipse
.classpath
.project
.settings/
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

# VS Code
.vscode/
.code-workspace

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
